/* EN ESTE ARCHIVO SE AGREGARÁ EL CSS QUE SE LE DESEA DAR AL PROYECTO */

/* ****** RESET ****** */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ****** BODY ****** */
body{
  font-family: "Roboto", system-ui;
  font-style: normal;
}

/* ****** LAYOUT ****** */
.layout{
  border: solid darkmagenta;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'navbar'
  'home'
  'footer';
  grid-template-rows: 1fr 8fr 1.5fr;
  /* gap: 20px; */
}

/* ****** NAVBAR ****** */
.navbar{
  border: solid red;
  grid-area: navbar;
  background-color: #1F1F1F;
  color: white;
  text-align: center;
}

/* ****** HOME ****** */
.home{
  border: solid green;
  grid-area: home;
}

/* ****** HEADER ****** */
.header{
  border: solid salmon;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./assets/Header.webp);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  background-position-y: top;
  background-size: 100%;
  color: white;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* ****** H1 TITLE *******/
.title{
  font-size: 3em;
}

/* ****** HR LINEA****** */
.hr-linea{
  width: 80%;
  opacity: 0.2;  
}

/* ****** FOOTER ****** */
.footer{
  display: flex;
  border: solid blue;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;
  color: white;
}
